<mat-toolbar color="accent" >
      <div class="GitDiv">
        <a href="https://github.com/rescudev/ancovid-charts" target="_blank">
          <img src="assets/img/github.png" width=50px>
        </a>
      </div>
      <span>GitHub</span>
      <div class="ContDiv">
        <a href="mailto:ancovidcharts@gmail.com">
          <img src="assets/img/mail.png" width=50px>
        </a>
      </div>
      <span>Contacto</span>
      <span class="spacer"></span>
      <span>Versión Actual: 0.0.1</span>
      <span class="spacer"></span>
      <span>Datos:</span>
      <span>
        <div class="JuntaDiv">
          <a href="https://www.juntadeandalucia.es/organismos/saludyfamilias/areas/salud-vida/paginas/Nuevo_Coronavirus.html" target="_blank">
            <img src="assets/img/junta.png" width=50px>
          </a>
        </div>
      </span>
      <div class="GobDiv">
        <a href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/situacionActual.htm" target="_blank">
          <img src="assets/img/gob.jpg" width=100px>
        </a>
      </div>

</mat-toolbar>


