<mat-card id="divCCAAs" class="mat-elevation-z6" [style.backgroundColor]="'white'">
  <mat-form-field color="warn">
    <mat-label>Comunidades</mat-label>
    <mat-select (selectionChange)="changeProvincia(selectedValue)" [(ngModel)]="selectedValue" name="comunidades" multiple>
      <mat-option *ngFor="let ccaa of CCAAs" [value]="ccaa.nombre">
        {{ccaa.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div style="position: relative; padding-bottom: 1%;" >
    <canvas id="myChartCCAAs"></canvas>
  </div>
</mat-card>
<div>
  <span>
    <button
      mat-raised-button
      color="warn"
      style="position: relative;"
      (click)="onDownloadPDF()">Descargar Pdf
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      style="position: relative; background-color: #f3c623;"
      (click)="onDownloadIMG()">Descargar Imagen
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      color="primary"
      style="position: relative;"
      (click)="onDownloadJsonTxt()">Descargar Json
    </button>
  </span>
</div>








