#divUci{
  display: block;
}

mat-card {
  position: relative;
  padding-bottom: 1%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 5px;
}

span{
  padding-right: 15px;
}

mat-select {
  color: red !important;
}

:host /deep/ .mat-select-value-text {
  color: red !important;
}

:host /deep/ .mat-select-value-text.mat-focused {
  color: red !important;
}

.mat-form-field.mat-focused {
  color: red;
}

input, select, textarea{
  color: red;
}
