<mat-card id="divProvincias" class="mat-elevation-z6" [style.backgroundColor]="'white'">

  <mat-form-field color="warn">
    <mat-label>Territorio</mat-label>
    <mat-select (selectionChange)="changeProvincia(selectedValue)" [(ngModel)]="initialValue" [(ngModel)]="selectedValue" name="provincia" >
      <mat-option *ngFor="let provincia of provincias" [value]="provincia.nombre">
        {{provincia.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="position: relative; padding-bottom: 1%;" >
    <canvas id="myChartProvincias"></canvas>
  </div>
</mat-card>
<div>
  <span>
    <button
      mat-raised-button
      color="warn"
      style="position: relative;"
      (click)="onDownloadPDF()">Descargar Pdf
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      style="position: relative; background-color: #f3c623;"
      (click)="onDownloadIMG()">Descargar Imagen
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      color="primary"
      style="position: relative;"
      (click)="onDownloadJsonTxt()">Descargar Json
    </button>
  </span>
</div>








