<mat-sidenav-container class="sidenav-container mat-elevation-z8" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Gráficas</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#divPrevalencia">Prevalencia</a>
      <a mat-list-item href="#divUci">Hosp&UCI</a>
      <a mat-list-item href="#divPcrs">PCRs</a>
      <a mat-list-item href="#divCCAAs">CCAAs</a>
      <a mat-list-item href="#">Volver Arriba</a>
    </mat-nav-list>
    <button
      id="toggleSideBarIn"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">arrow_back_ios</mat-icon>
    </button>
    <button
      id="toggleInfo"
      type="button"
      aria-label="Toggle info"
      mat-icon-button
      (click)="openDialogTips()">
      <mat-icon style="font-size: 45px;" aria-label="Side nav toggle icon">info_outline</mat-icon>
    </button>
    <button
      id="toggleFaq"
      type="button"
      aria-label="Toggle faq"
      mat-icon-button
      (click)="openDialogFaq()">
      <mat-icon style="font-size: 45px;" aria-label="Side nav toggle icon">help_outline</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent" >
      <img src="assets/img/ancovid-logo.png" width=75px>
      Ancovid
      <span class="spacer"></span>
      <span>
        <a mat-button href="#divPrevalencia">Prevalencia</a>
        <a mat-button href="#divUci">Hospitalizados&UCI</a>
        <a mat-button href="#divPcrs">PCRs</a>
        <a mat-button href="#divCCAAs">CCAAs</a>
      </span>
      <span>
        <app-tips-dialog></app-tips-dialog>
      </span>
      <app-faq-dialog></app-faq-dialog>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<button
  id="toggleSideBarOut"
  type="button"
  aria-label="Toggle sidenav"
  mat-icon-button
  (click)="drawer.toggle()">
  <mat-icon aria-label="Side nav toggle icon">double_arrow</mat-icon>
</button>





