
span{
  padding-right: 15px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

#toggleSideBarOut {
  position: fixed;
  bottom: 50%;
  left: -10px;
}

#toggleFaq {
  position: fixed;
  top: 10px;
  left: 140px;
}

#toggleInfo {
  position: fixed;
  top: 10px;
  left: 90px;

}

#toggleSideBarIn {
  position: fixed;
  bottom: 50%;
  left: 155px;
}

.mat-icon {
  font-size: 65px;
}
