#divPrevalencia{
  display: block;
}

mat-card {
  position: relative;
  padding-bottom: 1%;
  margin: auto;
  margin-bottom: 30px;
}

::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: red !important;
}

input, select, textarea{
  color: red;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: red !important;
}

mat-datepicker-toggle {
  color: red !important;
}
