<mat-card id="divPrevalencia" class="mat-elevation-z6" [style.backgroundColor]="'white'">
  <div style="position: relative; padding-bottom: 1%;" >
    <canvas id="myChartPrevalencia"></canvas>
  </div>
</mat-card>
<div>
  <span>
    <button
      mat-raised-button
      color="warn"
      style="position: relative;"
      (click)="onDownloadPDF()">Descargar Pdf
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      style="position: relative; background-color: #f3c623;"
      (click)="onDownloadIMG()">Descargar Imagen
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      color="primary"
      style="position: relative;"
      (click)="onDownloadJsonTxt()">Descargar Json
    </button>
  </span>
</div>










