<mat-card id="divUci" class="mat-elevation-z6" [style.backgroundColor]="'white'">
  <section class="example-section">
    <section class="example-section">
      <mat-form-field color="warn">
        <mat-label>Provincia</mat-label>
        <mat-select (selectionChange)="changeProvincia(selectedValue)" [(ngModel)]="initialValue" [(ngModel)]="selectedValue" name="provincia" >
          <mat-option *ngFor="let provincia of provincias" [value]="provincia.nombre">
            {{provincia.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox style="color:black; margin-left:25px" [(ngModel)]="checked" (change)="cambiaDias()" class="example-margin"> Últimos 14 Días</mat-checkbox>
    </section>
  </section>
  <div style="position: relative; padding-bottom: 1%;" >
    <canvas id="myChartUci"></canvas>
  </div>
</mat-card>
<div>
  <span>
    <button
      mat-raised-button
      color="warn"
      style="position: relative;"
      (click)="onDownloadPDF()">Descargar Pdf
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      style="position: relative; background-color: #f3c623;"
      (click)="onDownloadIMG()">Descargar Imagen
    </button>
  </span>
  <span>
    <button
      mat-raised-button
      color="primary"
      style="position: relative;"
      (click)="onDownloadJsonTxt()">Descargar Json
    </button>
  </span>
</div>








